.container{
  display:grid;
grid-template-columns: repeat(3,auto);
grid-template-rows: 20vh auto auto;
border:2px solid black;
height:95vh;
grid-gap:1rem;
padding:10px;
background-color: aqua;
font-size: 32px;
}
table,th,td {
    border:1px solid black;
    flex-basis: auto;
    flex-grow:1;
    width:90%;

}

.parent{
    display: flex;
grid-column-start:1 ;
grid-column-end:4 ;

}
.education{
grid-column-start:2 ;
grid-column-end:4 ;
text-align: center;

}
.about{
grid-row-start:2 ;
grid-row-end:4 ;
width: 100%;
}
.content{
    border:2px solid black;
}
.my-image{
    height:50px;
    width:50px;
    position:absolute;
    left:90%;
    
    }
.parent{
    display:flex;
    justify-content: space-between;
}
.name{
flex-basis: 800px;
flex-grow: 1;
font-size: 32px;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  

